@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');


.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    45deg,
    #161616 0%,
    #222 25%,
    #2f2f2f 50%,
    #3a3a3a 75%,
    #595858 100%
  );
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)' opacity='0.04'/%3E%3C/svg%3E");
  pointer-events: none;
}

.loginForm {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 2vh;
  width: clamp(280px, 22vw, 422px);
  height: clamp(200px, 12vw, 400px);

  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(25px);

  border-radius: 16px;
  border: 1px solid rgba(255,255,255,0.18);

  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.4);
}


input {
  display: inline-block;
  transform: translateX(46%);
  background: none;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-radius: 10px;
  border-width: 2px;
  width: 50%;
  height: clamp(25px, 2vh, 35px);
  font-family: Consolas, monospace;
}

.logo {
  position: fixed;
  left: 40px;
  bottom: 10px;
  z-index: 100;
  transform: translateX(-50%);

  max-width: 250px;
  max-height: 250px;
}
