<div class="container">
  <form class="loginForm">
    <label class="loginText">SIGN IN</label>
    <div class="loginInputDiv">
      <input class="loginInput" placeholder="Login" [value]="loginInput()"
        (input)="loginInput.set($any($event.target).value)">
      <i class="fa fa-user"></i>
    </div>
    <div class="passwordInputDiv">
      <input class="passwordInput" placeholder="Password" type="password" [value]="passwordInput()"
        (input)="passwordInput.set($any($event.target).value)">
      <i class="fa fa-key"></i>
    </div>
    <button class="signInButton" (click)="onLogin()" type="button">SIGN IN</button>
  </form>
  <img src="/assets/Logo.svg" alt="Logo" class="logo">

</div>