@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');


.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background: linear-gradient(*/
  /*  90deg,*/
  /*  #000000 0%,*/
  /*  #4b4b4b 30%,*/
  /*  #494949 50%,*/
  /*  #4b4b4b 75%,*/
  /*  #000000 100%*/
  /*);*/
  background: linear-gradient(
    90deg,
    #000000 0%,
    #6c6c6c 30%,
    #c0c0c0 50%,
    #6c6c6c 75%,
    #000000 100%
  );
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)' opacity='0.04'/%3E%3C/svg%3E");
  pointer-events: none;
}

.loginForm {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 2vh;
  width: clamp(340px, 24vw, 422px);
  height: clamp(340px, 24vw, 422px);
  background: rgba(12, 13, 19, 0.99);
  border-style: none;
}

.loginText {
  position:relative;
  transform: translateX(90%);
  height: clamp(30px, 1vh, 45px);
  bottom: 10%;
  background: none;
  color: #bdbdbd;
  right: 82%;
  font-size: 3.5vh;
  font-family: Impact, serif;
  font-style: right;
}

input {
  display: inline-block;
  transform: translateX(10%);
  background-color: rgba(41, 41, 44, 0.96);
  border:0;
  color: white;
  border-bottom: 1px solid silver;
  width: 80%;
  font-size: 2.0vh;
  height: clamp(50px, 6vh, 70px);
  font-family: Consolas, monospace;
}

input::placeholder {
  font-size: 2.0vh;
  color: #bbbaba;
}


.signInButton {
  position: relative;
  width: 82%;
  height: 5vh;
  transform: translateX(10%);
  background: linear-gradient(
    90deg,
    #bebc28 0%,
    #bd7629 30%,
    #ab7c1c 50%,
    #bd7629 75%,
    #bebc28 100%
  );
}

.logo {
  position: fixed;
  left: 40px;
  bottom: 10px;
  z-index: 100;
  transform: translateX(-50%);

  max-width: 250px;
  max-height: 250px;
}
