/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body { background: linear-gradient(115deg,
  rgba(255, 200, 60, 0.04),
  transparent 60%), 
  linear-gradient(295deg,
  rgba(80, 120, 255, 0.05),
  transparent 60%), #141624;
}