<div class="sidebar">
  <button
    class="sidebar-btn"
    *ngFor="let item of menu"
    [title]="item.label"
    (click)="item.action()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="sidebar-svg-icon"
    >
      <path
        *ngFor="let path of item.iconPaths"
        stroke-linecap="round"
        stroke-linejoin="round"
        [attr.d]="path"
      />
    </svg>
  </button>
</div>
