:host {
  display: block;
}

.sidebar {
  position: fixed;
  left: 1%;
  top: 5%;
  height: 90vh;
  width: 56px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  padding: 16px 0;
  background-color: rgba(12, 13, 19, 0.94);
  border-radius: 30px;

  border: 1px solid rgba(255, 255, 255, 0.06);
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.8),
    0 0 0 1px rgba(255, 255, 255, 0.04);
}


.sidebar-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  border: none;
  background: transparent;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background 0.2s ease, transform 0.2s ease;
}


.sidebar-btn:hover {
  background: rgba(255, 208, 65, 0.18);
  transform: scale(1.1);
}

.sidebar-btn i {
  font-size: 20px;
  color: #bdbdbd;
}

.sidebar-btn:hover i {
  color: rgba(255, 208, 65, 0.91);
}
