:host {
  display: block;
}

.sidebar {
  position: fixed;
  left: 1%;
  top: 5%;
  height: 90vh;
  width: 56px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  padding: 16px 0;
  background-color: rgba(214, 210, 196, 0.91);
  border-radius: 30px;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}


.sidebar-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  border: none;
  background: transparent;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background 0.2s ease, transform 0.2s ease;
}


.sidebar-btn:hover {
  background: rgba(0, 0, 0, 0.15);
  transform: scale(1.1);
}

.sidebar-btn i {
  font-size: 20px;
  color: #222;
}